.chart {
  background-color: #fff;
  flex: 2;
  box-shadow: rgba(100, 100, 111, 0.15) 1px 2px 19px 0px;
  padding: 10px;
  color: gray;
  border-radius: .3rem;

  .title {
    margin-bottom: 15px;
  }

  .chartGrid {
    stroke: rgba(211, 211, 211, 0.418);
  }
}

.XAxis_name {
  font-size: 1rem;
  color: red;
}
