.home {
  display: flex;
  width: 100%;
  position: relative;

  .homeContainer {
    flex: 6;
    margin-left: 182px;
    // position: relative;

    .greating {
      width: 19rem;
      height: 6rem;
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border: 1.2px solid rgba(116, 105, 105, 0.229);
      color: rgb(91, 88, 88);
      border-radius: 0.4rem;
      position: fixed;
      top: 5rem;
      right: 1.3rem;
      text-align: center;
      vertical-align: middle;
      line-height: 90px;
      font-size: 1.1rem;
      z-index: 11;
    }

    .widgets {
      display: flex;
      align-items: center;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
      display: flex;
      gap: 20px;
    }

    .listContainer {
      box-shadow: rgba(100, 100, 111, 0.15) 1px 2px 19px 0px;
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        font-size: 15px;
      }
    }
  }
}
